*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: dafont;
    src: url('../dafont/DS-DIGIB.TTF');
}


.fundo{
    min-width: 100%;
    min-height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.calculadora{
    position: absolute;
    background-color: rgb(74, 93, 103);
    text-align: center;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 15px;
    padding: 15px;
    margin-top: -10em; 
}


.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;  
}


h1{
 text-align: center;
}


#resultado{
   background-color: rgb(221, 238, 200);
   width: 210px;
   height: 30px;
   color: black;
   margin: 5px;
   font-size: 25px;
   text-align: right;
   padding: 5px;
   border-radius: 5px;
   font-family: dafont;
   overflow-wrap: break-word;
}



.botao:hover{
    background-color: rgb(40, 38, 38);
    color: white; 
}


/* .limpar{
    width: 100%;
    background-color: rgb(252   ,172,45);
    padding: 3px;
    color: rgb(255, 255, 255);
    margin: 3px;
    font-size: 19px;
    border-radius: 5px;
    cursor: pointer;
} */